@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .shadow-hard {
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
  }
  .shadow-hard-sm {
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);
  }
  .shadow-hard-lg {
    box-shadow: 6px 6px 0 0 rgba(0, 0, 0, 1);
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}
